<% if obj.errors.any? %>
  <div class="ui error message">
    <div class="header"><%= pluralize(obj.errors.count, "error") %></div>
    <% obj.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>